.myBrand {
    font-size: 1em;
}

.myMenuItem {
    display: block;
    position: relative;
    padding: 12px 40px;
    text-align: left;
    color: black;
}

.myDropdownIcon {
    font-size: 20px;
    position: absolute;
    top: 6%;
    right: 5%;
    line-height: 30px;
    margin-top: 0.2em;
}

.myNavbar {
    border-bottom-color: grey;
    text-align: center;
    height: 60px;
    padding: 0;
}

.myImg {
    width: 147px;
    height: 60px;
    margin: 0px;
}

.myContainer {
    width: 200px;
}

.myButton {
     position: absolute;
    // top:0%;
    left:82%;
    // margin-top: 7%;
    color: grey;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    .myUl {
        display: block;
    }

    .myUlDesk {
        display: none;
    }

    .myImg {
        // width:45%;
        display: block;
        margin: auto;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    .myUl {
        display: none;
    }

    .myUlDesk {
        display: block;
        // position: absolute;
        // left: 30%;
    }

    .myImg {
        // width:15%;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    .myUl {
        display: none;
    }

    .myUlDesk {
        display: block;
        // position: absolute;
        // left: 30%;
    }

    .myImg {
        // width:15%;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    .myUl {
        display: none;
    }

    .myUlDesk {
        display: block;
        // position: absolute;
        // left: 30%;
    }

    .myImg {
        // width:15%;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .myUl {
        display: none;
    }

    .myUlDesk {
        display: block;
    }

    .myImg {
        // width:15%;
    }
 }