<nav class="navbar navbar-expand-sm navbar-dark white scrolling-navbar myNavbar">
  <!-- Brand -->
  <div class="container" style="width: 100%">
    <img class="myImg" routerLink="/accueil" src="../../../assets/imgs/katxi-klothing-logo-retina.png" (click)="showNavbar=false" alt="Logo"> 
    <!-- Burger menu button -->
    <button style="color: grey;" class="navbar-toggler myButton" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mdb-icon *ngIf="!showNavbar" fas icon="bars" size="1x"></mdb-icon>
    <mdb-icon *ngIf="showNavbar" fas icon="times" size="1x"></mdb-icon>
    </button>     
    <!-- Menu in desktop mode -->
    <ul *ngFor="let customClass of customClasses" class="navbar-nav myUlDesk">
      <li class="nav-item dropdown" dropdown [ngClass]="customClass.class">
        <a style="color: black" class="nav-link waves-light" mdbWavesEffect type="button" [routerLink]="customClass.link">{{customClass.menu|uppercase}}</a>
        <a style="color: black;position:absolute;top: 0%;left:100%" dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>
         <mdb-icon *ngIf="customClass.submenus[0].menu!==''" fas icon="chevron-down"></mdb-icon>
        </a>          
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <li class="nav-item" *ngFor="let submenu of customClass.submenus" [ngClass]="submenu.class">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="submenu.link">{{submenu.menu}}</a>
          </li>
        </div>
      </li>
    </ul>
  </div>  
  <!-- Menu -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': showNavbar }">
    <!-- In mobile mode -->
    <ul class="navbar-nav mr-auto myUl">
      <li class="nav-item" *ngFor="let customClass of customClasses" [ngClass]="customClass.class">
        <a style="color: black" class="nav-link myMenuItem" [routerLink]="customClass.link">
          <span (click)="toggleNavbar()">{{customClass.menu|uppercase}}</span>
            <span class="myDropdownIcon" *ngIf="customClass.submenus[0].menu!==''&&!customClass.show" (click)="activeMenuItem(customClass)">+</span>
            <span class="myDropdownIcon" *ngIf="customClass.submenus[0].menu!==''&&customClass.show" (click)="activeMenuItem(customClass)">-</span>
          </a>            
        <!-- Submenus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': customClass.show}">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" *ngFor="let submenu of customClass.submenus" [ngClass]="submenu.class">
                <a style="color: black" class="nav-link myMenuItem" [routerLink]="submenu.link" (click)="toggleNavbar()">{{submenu.menu}}</a>
              </li>
          </ul>
        </div>
      </li>
    </ul>
  </div> 
</nav>
