<header style="height: 5em;background-color: black;padding:0.5em;">
    <p style="color: white;font-family: Verdana, sans-serif;font-size: 13px;" class="text-center">DESIGNED IN BASKOUNTRY SINCE 2016</p>
    <div style="text-align: center;">
        <mdb-icon fab icon="facebook-f" style="color: lightgrey;margin: 0.5em;font-size: 14px"></mdb-icon>
        <mdb-icon fab icon="instagram" style="color: lightgrey;margin: 0.5em;font-size: 14px"></mdb-icon>
    </div>
    
</header>
<app-navigation-menu></app-navigation-menu>
<router-outlet></router-outlet>
